{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <form class="search-flight" data-fetch-airport-url="{{ path('flight_search_airport') }}" action="{{ path('flight_search_flights') }}">

        <select class="flight-from" name="flight-from" id="flight-from" required>
            <option disabled>From</option>
        </select>

        <select class="flight-to" name="flight-to" id="flight-to" required>
            <option disabled>To</option>
        </select>

        <input type="date" id="datepicker" name="datepicker" required>

        <button type="submit" class="bg-primary p-3 rounded text-white">Go</button>
    </form>



{% endblock %}
